name: CI

on:
  pull_request:
    branches:
      - main
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  check-code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run ruff
        run: |
          uv run ruff check .
          uv run ruff format --check .

      - name: Run ty
        run: |
          uv run ty check .

  validate-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download central commitlint config
        run: curl -o ./commitlint.config.mjs https://raw.githubusercontent.com/alfaseekers/.github/refs/heads/main/.github/configs/commitlint.config.mjs

      - name: Validate commits
        uses: wagoid/commitlint-github-action@v6
